.projects-container {
    grid-area: "projects";
    /* grid-column: 1/-1; */
    display: grid;
    grid-template-areas:
        "title"
        "items";
    grid-template-rows: auto 1fr;
    gap: 2.4rem;
    margin: 0 auto;
    font-family: "Outfit", sans-serif;
}

.title {
    grid-area: "title";
    grid-column: 1/-1;
    justify-self: start;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5%;
}

.projects-list {
    grid-area: "items";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: center; */
    gap: 3.2rem;
    place-self: center;
}


/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media(max-width:75em) {
    .projects-container {
        max-width: 90%;
    }

    .projects-list {
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        justify-items: center;
        gap: 4rem;
    }
}

/**************************/
/*  BELOW 944px (Tablets) */
/**************************/
@media(max-width:59em) {
    .projects-list {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        gap: 4rem;
    }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
/* @media (max-width: 44em) {
    .projects-list {
        grid-template-columns: repeat(1, 1fr);
    }
} */