.section-hero {
    grid-area: " hero";
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* gap: 4.8rem; */
    font-family: 'Roboto';
}

.hero-text {
    grid-column: 1/2;
}

.hero-header {
    font-weight: 800;
    font-size: 7.2rem;
    margin-bottom: 3.3rem;
}

/* .hero-title {
    font-size: 3rem;
    /* margin-bottom: 2.4rem; 
}*/

.hero-subtitle {
    font-size: 3rem;
    margin-bottom: 5.2rem;
    line-height: 1.2;
}

.hero-contact:link,
hero-contact:visited {
    display: inline-block;
    font-family: 'Outfit';
    font-size: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    background-color: var(--color-primary);
    padding: 1.8rem 2.6rem;
    border-radius: 10rem;
}

.hero-img-box {
    grid-column: 2/-1;
    max-width: 90%;
    justify-self: end;
}

.hero-img-box img {
    max-width: 100%;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
    /* .section-hero {
        grid-template-columns: 55fr 45fr; 
         gap: 2rem;
    } */

    .hero-header {
        font-size: 6.2rem;
    }

    .hero-subtitle {
        font-size: 2.4rem;
    }

    .hero-contact:link,
    hero-contact:visited {
        font-size: 2.4rem;
    }
}


/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
    .section-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        place-items: center;
    }

    .hero-text {
        grid-column: 1/-1;
        grid-row: 2;
        /* max-width: 70%; */
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .hero-img-box {
        grid-column: 1/-1;
        grid-row: 1;
        display: flex;
        justify-self: center;
        width: 60%
    }
}