.section-about {
  grid-area: about;

  width: 88%;
  max-width: 118rem;
  margin: 0 auto;
  padding: 7rem 0;

  font-family: var(--font-outfit);
}

.section-heading {
  max-width: 82rem;
  margin-bottom: 4rem;
}

.section-label {
  margin-bottom: 1.4rem;

  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;

  color: var(--color-primary);
}

.about-title {
  font-size: 4.4rem;
  font-weight: 650;
  line-height: 1.15;
  letter-spacing: -0.025em;

  color: var(--color-text);
}

.about-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 75em) {
  .section-about {
    width: 100%;
    padding: 6rem 0;
  }

  .about-title {
    font-size: 4rem;
  }
}

@media (max-width: 59em) {
  .about-items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 34em) {
  .section-about {
    padding: 4.5rem 0;
  }

  .section-heading {
    margin-bottom: 3rem;
  }

  .about-title {
    font-size: 3.4rem;
  }
}
