.section-experience {
    grid-area: "experience";
    display: grid;
    grid-template-areas:
        "title"
        "content";
    grid-template-rows: auto 1fr;
    gap: 3.2rem;
    width: 88%;
    margin: 0 auto;

}

.experience-title {
    grid-area: "title";
    grid-column: 1/-1;
    justify-self: start;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.experience-content {
    grid-area: "content";
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}

.skills {
    /* align-self: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    align-items: stretch;
    justify-items: stretch;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-img-box {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 1.2rem;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 13rem;


}

.skill-img-box img {

    object-fit: contain;

}

.skill-title {
    display: inline-block;
    font-size: 2.4rem;
}

.work-history {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: flex-start;
    padding-left: 4.8rem;
}