/*
--- Typography

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights:
    default:400
    medium:500
    semi bold:600
    bold:700

  -Line height:
    default:1

--- Colors
  - primary:  #576cbc;
  - secondary: #19376d;


---  White Spaces
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-gray: #0c0c0c99;
  --color-black: #000;

  /* Fonts */
  --font-roboto: "Roboto";
  --font-outfit: "Outfit";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-black);
  /* background-color: red; */
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media(max-width:75em) {
  html {
    /* 9px / 16px = 0.5 = 56.25% */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

/* @media (max-width: 59em) {
  html {
    font-size: 50%;
  }
} */


/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  html {
    font-size: 43.75%;
  }
}