/*
--- Typography

  - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights:
    default:400
    medium:500
    semi bold:600
    bold:700

  -Line height:
    default:1

--- Colors
  - primary:  #576cbc;
  - secondary: #19376d;


---  White Spaces
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-gray: #0c0c0c99;
  --color-black: #000;

  /* Fonts */
  --font-roboto: "Roboto";
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-black);
  /* background-color: red; */

}

.container {
  background-color: var(--color-bg);
  width: 92%;
  margin: 0 auto;
  position: relative;
}

/* 
.container::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 76rem;
  height: 76rem;
  border-radius: 50%;
  background-color: #19376DB2;
  top: 0;
  left: 0;
  transform: translate(-30%, -50%);
  z-index: 10;
  box-shadow: 0 0 10px 200px #19376DB2;
  ;
} */